.model {
    text-align: center;
    padding: 5%;
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
}
.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}
.table {
    background-color: cornsilk;
    text-align: center;
    font-size: x-large;
    width: 100%;
    margin-bottom: 1rem;
    font-family: 'Times New Roman', Times, serif;
}