.home-image {
    margin-top: 1%;
    background-size: cover;
    background-position: center center;
    max-height: 600px;
}

.home-image img {
    width: 100%;
    height: 600px;
}

.home-content {
    position: relative;
    padding: 20px 40px;
    background-color: peru;
    font-family: 'Times New Roman', Times, serif;
}

.home-image1 {
    background-color: burlywood;
}

.home-image1 img {
    width: 100%;
    height: 600px;
}

.home-content1 {
    position: relative;
    padding: 20px 40px;
    background-color: burlywood;
    font-family: 'Times New Roman', Times, serif;
}

.home-image2 img {
    width: 100%;
    height: 600px;
}
.contactInfo{
    margin-top:1.5em;
    text-align: center;
    font-size:15px;
    color: #665c5c;
    margin-left: 10%;
    margin-right: 10%;
}
  
@media screen and (max-width: 600px) {
    .home-image img {
        width: 50%;
        height: 300px;
    }
    .home-image1 img {
        width: 50%;
        height: 300px;
    }
    .home-image2 img {
        width: 50%;
        height: 300px;
    }
}

@media screen and (max-width: 800px) {
    .home-image img {
        width: 66%;
        height: 400px;
    }
    .home-image1 img {
        width: 66%;
        height: 400px;
    }
    .home-image2 img {
        width: 66%;
        height: 400px;
    }
}

@media screen and (max-width: 1200px) {
    .home-image img {
        width: 100%;
        height: 600px;
    }
    .home-image1 img {
        width: 100%;
        height: 600px;
    }
    .home-image2 img {
        width: 66%;
        height: 400px;
    }
}