.Heading{
  font-weight: bold;
  font-size: 29px;
  margin-top: 1rem;
}


.Name{
  font-size: 45px;
  font-weight: bold;
  text-align: center;
  display:flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2.5rem;
}

.content{
  font-size: 20px;

}

.img{
    width:25%;
    height: auto;
    display: block;
    margin-left: 1rem;
    margin-right: 3rem;
    float: left;
    }
